[Unit]
Description=OMT Player
After=network.target sound.target

[Service]
ExecStart=/opt/omtplayer/omtplayer
User=pi
Group=pi
Restart=always
ExecStartPre=pulseaudio --start

[Install]
WantedBy=multi-user.target
